html, body {
    height: 100%;
    width: 100%;
}

#root {
    background-color: #14bdac;
    height: 100%;
    width: 100%;
}

.game-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.ending-message {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    height: 50px;
    padding: 20px 0;
}

.button {
    background-color: #FF5A5F;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    padding: 10px 22px;
    width: 400px;
}

.grid {
    background-color: rgba(0,0,0,.54);
    display: grid;
    grid-gap: 10px 10px;
    grid-template: repeat(3, 150px) / repeat(3, 150px);
    place-content: center;
}